In [4]:
import pandas as pd

# CSV 파일을 읽어옵니다
df = pd.read_csv('sampling_8Q.csv')

# 칼럼 이름들을 출력합니다
print(df.columns)
df.head(10)

Index(['Unnamed: 0', 'BAS_YH', 'SEQ', 'AGE', 'SEX_CD', 'MBR_RK', 'ATT_YM',
       'HOUS_SIDO_NM', 'DIGT_CHNL_REG_YN', 'DIGT_CHNL_USE_YN', 'LIFE_STAGE',
       'TOT_USE_AM', 'CRDSL_USE_AM', 'CNF_USE_AM', 'INTERIOR_AM', 'INSUHOS_AM',
       'OFFEDU_AM', 'TRVLEC_AM', 'FSBZ_AM', 'SVCARC_AM', 'DIST_AM',
       'PLSANIT_AM', 'CLOTHGDS_AM', 'AUTO_AM', 'BAS_YH_numeric', 'ASSETS',
       'DEBT', 'INCOME', 'BAS_YH_year', 'UES_INCOME', 'CRDSL_DEP', 'DAN_RT',
       'ATT_PERIOD', 'DEBT_RATIO', 'LIFE_STAGE_DAN'],
      dtype='object')

,Unnamed: 0,BAS_YH,SEQ,AGE,SEX_CD,MBR_RK,ATT_YM,HOUS_SIDO_NM,DIGT_CHNL_REG_YN,DIGT_CHNL_USE_YN,...,ASSETS,DEBT,INCOME,BAS_YH_year,UES_INCOME,CRDSL_DEP,DAN_RT,ATT_PERIOD,DEBT_RATIO,LIFE_STAGE_DAN
0,162,2022q1,001UXEKUYPPXM8YP0MDR,55.0,1,22,199602,경북,N,N,...,21125.053979,30058.444877,16108.249666,2022,0.127885,0.907767,0.150485,29,1.422881,0
1,163,2022q2,001UXEKUYPPXM8YP0MDR,55.0,1,22,199602,경북,N,N,...,21125.053979,30058.444877,16108.249666,2022,0.127885,0.907767,0.174757,29,1.422881,0
2,164,2022q3,001UXEKUYPPXM8YP0MDR,55.0,1,22,199602,경북,Y,Y,...,21125.053979,30058.444877,16108.249666,2022,0.127885,0.907767,0.155340,29,1.422881,0
3,165,2022q4,001UXEKUYPPXM8YP0MDR,55.0,1,22,199602,경북,Y,Y,...,21125.053979,30058.444877,16108.249666,2022,0.127885,0.907767,0.155340,29,1.422881,0
4,166,2023q1,001UXEKUYPPXM8YP0MDR,55.0,1,21,199602,경북,Y,Y,...,21948.931084,31230.724227,16736.471403,2023,0.123084,0.907767,0.150485,29,1.422881,0
5,167,2023q2,001UXEKUYPPXM8YP0MDR,55.0,1,21,199602,경북,Y,Y,...,21948.931084,31230.724227,16736.471403,2023,0.123084,0.907767,0.179612,29,1.422881,0
6,168,2023q3,001UXEKUYPPXM8YP0MDR,55.0,1,21,199602,경북,Y,Y,...,21948.931084,31230.724227,16736.471403,2023,0.123084,0.907767,0.155340,29,1.422881,0
7,169,2023q4,001UXEKUYPPXM8YP0MDR,55.0,1,21,199602,경북,Y,Y,...,21948.931084,31230.724227,16736.471403,2023,0.123084,0.907767,0.169903,29,1.422881,0
8,361,2022q1,003JQRAZLZOLFQTAH39N,30.0,1,25,201404,경기,N,N,...,12554.372787,37723.137381,16277.934808,2022,0.008601,0.000000,0.000000,11,3.004781,0
9,362,2022q2,003JQRAZLZOLFQTAH39N,30.0,1,25,201404,경기,N,N,...,12554.372787,37723.137381,16277.934808,2022,0.006143,0.000000,0.000000,11,3.004781,0

In [8]:
import pandas as pd
import numpy as np

def drop_infinite_rows(df, verbose=True):
    """
    무한값이 있는 행을 제거하는 함수

    Parameters:
    df (pandas.DataFrame): 처리할 데이터프레임
    verbose (bool): 상세 정보 출력 여부

    Returns:
    pandas.DataFrame: 무한값이 제거된 데이터프레임
    """
    # 처리 전 행 수
    initial_rows = len(df)

    if verbose:
        print("=== 무한값 행 제거 보고서 ===\n")
        print(f"처리 전 행 수: {initial_rows:,}")

    # 수치형 컬럼만 선택
    numeric_cols = df.select_dtypes(include=[np.number]).columns

    # 무한값이 있는 행의 인덱스 찾기
    inf_mask = pd.concat([df[col].isin([float('inf'), float('-inf')]) for col in numeric_cols], axis=1).any(axis=1)
    inf_rows = df.index[inf_mask]

    if verbose and len(inf_rows) > 0:
        print(f"\n제거될 행 수: {len(inf_rows):,}")
        print(f"제거될 행 비율: {(len(inf_rows)/initial_rows)*100:.3f}%")

        # 무한값이 있는 행의 해당 값들 출력
        print("\n무한값이 있는 행들의 CRDSL_DEP, DAN_RT 값:")
        print(df.loc[inf_rows, ['CRDSL_DEP', 'DAN_RT']])

    # 무한값이 있는 행 제거
    df_cleaned = df.drop(index=inf_rows)

    if verbose:
        print(f"\n처리 후 행 수: {len(df_cleaned):,}")
        print(f"남은 행 비율: {(len(df_cleaned)/initial_rows)*100:.3f}%")

        # 처리 후 해당 컬럼들의 기본 통계량 출력
        print("\n처리 후 CRDSL_DEP 통계량:")
        print(df_cleaned['CRDSL_DEP'].describe())
        print("\n처리 후 DAN_RT 통계량:")
        print(df_cleaned['DAN_RT'].describe())

    return df_cleaned

# 데이터 로드 및 처리
df = pd.read_csv('sampling_8Q.csv')
df_cleaned = drop_infinite_rows(df)

# 처리된 데이터 저장 (선택사항)
# df_cleaned.to_csv('sampling_8Q_cleaned.csv', index=False)

=== 무한값 행 제거 보고서 ===

처리 전 행 수: 720,008

제거될 행 수: 215
제거될 행 비율: 0.030%

무한값이 있는 행들의 CRDSL_DEP, DAN_RT 값:
        CRDSL_DEP  DAN_RT
24            NaN     inf
2167          NaN     inf
7784          inf     inf
8241          NaN     inf
9852          inf     NaN
...           ...     ...
699690        NaN     inf
703461        inf     inf
704200        NaN     inf
704839        NaN     inf
718967        NaN     inf

[215 rows x 2 columns]

처리 후 행 수: 719,793
남은 행 비율: 99.970%

처리 후 CRDSL_DEP 통계량:
count    719466.000000
mean          0.699497
std           0.418555
min           0.000000
25%           0.241379
50%           1.000000
75%           1.000000
max          38.250000
Name: CRDSL_DEP, dtype: float64

처리 후 DAN_RT 통계량:
count    719466.000000
mean          0.089128
std           0.146915
min           0.000000
25%           0.000000
50%           0.028571
75%           0.125000
max          10.000000
Name: DAN_RT, dtype: float64

In [12]:
df_cleaned.columns
df_cleaned = df.drop(columns=['Unnamed: 0'])
df_cleaned.columns

Index(['BAS_YH', 'SEQ', 'AGE', 'SEX_CD', 'MBR_RK', 'ATT_YM', 'HOUS_SIDO_NM',
       'DIGT_CHNL_REG_YN', 'DIGT_CHNL_USE_YN', 'LIFE_STAGE', 'TOT_USE_AM',
       'CRDSL_USE_AM', 'CNF_USE_AM', 'INTERIOR_AM', 'INSUHOS_AM', 'OFFEDU_AM',
       'TRVLEC_AM', 'FSBZ_AM', 'SVCARC_AM', 'DIST_AM', 'PLSANIT_AM',
       'CLOTHGDS_AM', 'AUTO_AM', 'BAS_YH_numeric', 'ASSETS', 'DEBT', 'INCOME',
       'BAS_YH_year', 'UES_INCOME', 'CRDSL_DEP', 'DAN_RT', 'ATT_PERIOD',
       'DEBT_RATIO', 'LIFE_STAGE_DAN'],
      dtype='object')

In [16]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import RobustScaler
from sklearn.ensemble import IsolationForest

class CreditAnalyzer:
    def __init__(self):
        self.scaler = RobustScaler()
        self.isolation_forest = IsolationForest(
            random_state=42,
            n_estimators=200
        )

    def get_numeric_features(self, df):
        """수치형 특성 추출"""
        # 수치형 컬럼만 선택
        numeric_cols = df.select_dtypes(include=[np.number]).columns

        # 'Unnamed'나 인덱스 관련 컬럼 제외
        features = [col for col in numeric_cols if not col.startswith('Unnamed')]

        # 타겟 변수나 제외할 컬럼이 있다면 여기서 제외
        exclude_cols = ['is_anomaly']  # 필요한 경우 제외할 컬럼 추가
        features = [col for col in features if col not in exclude_cols]

        return features

    def analyze_patterns(self, df, features):
        """각 특성별 이상치 패턴 분석"""
        patterns = []

        for feature in features:
            normal_mean = df[~df['is_anomaly']][feature].mean()
            anomaly_mean = df[df['is_anomaly']][feature].mean()

            if normal_mean != 0:
                diff_percent = ((anomaly_mean - normal_mean) / abs(normal_mean)) * 100
            else:
                diff_percent = 0

            patterns.append({
                'feature': feature,
                'normal_mean': normal_mean,
                'anomaly_mean': anomaly_mean,
                'difference_percent': diff_percent
            })

        return pd.DataFrame(patterns)

    def generate_report(self, df, patterns, features):
        """분석 리포트 생성"""
        print("\n=== 이상치 탐지 분석 보고서 ===")

        print("\n1. 기본 통계")
        print(f"전체 데이터 수: {len(df):,}")
        print(f"이상치 데이터 수: {df['is_anomaly'].sum():,}")
        print(f"이상치 비율: {(df['is_anomaly'].sum() / len(df)) * 100:.2f}%")

        if 'LIFE_STAGE' in df.columns:
            print("\n2. 생애주기별 이상치 분포")
            life_stage_dist = pd.crosstab(df['LIFE_STAGE'], df['is_anomaly'], normalize='index') * 100
            print(life_stage_dist)

        print("\n3. 주요 특성 차이")
        # 차이가 큰 상위 특성들
        print("\n[특성 차이 (상위 10개)]")
        top_patterns = patterns.sort_values('difference_percent', ascending=False)
        print(top_patterns.head(10).round(2))

        # 차이가 작은 특성들
        print("\n[특성 차이 (하위 10개)]")
        bottom_patterns = patterns.sort_values('difference_percent', ascending=True)
        print(bottom_patterns.head(10).round(2))

        print("\n4. 이상치 그룹 특성 상세 분석")
        # 차이가 가장 큰 상위 5개 특성에 대해 상세 분석
        top_features = top_patterns['feature'].head().tolist()
        for feature in top_features:
            print(f"\n{feature} 분포:")

            # 정상 그룹의 분위수
            normal_quantiles = df[~df['is_anomaly']][feature].quantile([0.25, 0.5, 0.75]).values
            print(f"정상 그룹 - 25/50/75 백분위수: [{normal_quantiles[0]:.2f} {normal_quantiles[1]:.2f} {normal_quantiles[2]:.2f}]")

            # 이상치 그룹의 분위수
            anomaly_quantiles = df[df['is_anomaly']][feature].quantile([0.25, 0.5, 0.75]).values
            print(f"이상치 그룹 - 25/50/75 백분위수: [{anomaly_quantiles[0]:.2f} {anomaly_quantiles[1]:.2f} {anomaly_quantiles[2]:.2f}]")

def main():
    # 분석기 초기화
    analyzer = CreditAnalyzer()

    # 데이터 로드
    df = pd.read_csv('sampling_8Q.csv')

    # 전처리: 무한값을 NaN으로 변경 후 중앙값으로 대체
    for col in df.select_dtypes(include=[np.number]).columns:
        inf_count = df[col].isin([float('inf'), float('-inf')]).sum()
        if inf_count > 0:
            print(f"{col}: {inf_count}개의 무한값 발견")
        df[col] = df[col].replace([float('inf'), float('-inf')], np.nan)
        df[col] = df[col].fillna(df[col].median())

    # 분석할 특성 자동 선택
    features = analyzer.get_numeric_features(df)

    # 이상치 탐지를 위한 데이터 스케일링 및 탐지 수행
    scaled_data = analyzer.scaler.fit_transform(df[features])
    df['is_anomaly'] = analyzer.isolation_forest.fit_predict(scaled_data) == -1

    # 패턴 분석
    patterns = analyzer.analyze_patterns(df, features)

    # 리포트 생성
    analyzer.generate_report(df, patterns, features)

if __name__ == "__main__":
    main()

CRDSL_DEP: 29개의 무한값 발견
DAN_RT: 198개의 무한값 발견

=== 이상치 탐지 분석 보고서 ===

1. 기본 통계
전체 데이터 수: 720,008
이상치 데이터 수: 111,472
이상치 비율: 15.48%

2. 생애주기별 이상치 분포
is_anomaly      False      True
LIFE_STAGE
CHILD_BABY  83.438680  16.561320
CHILD_TEEN  85.020644  14.979356
CHILD_UNI   84.430848  15.569152
GOLLIFE     89.924092  10.075908
NEW_JOB     88.144047  11.855953
NEW_WED     83.094051  16.905949
RETIR       48.700650  51.299350
SECLIFE     87.712908  12.287092
UNI         74.798764  25.201236

3. 주요 특성 차이

[특성 차이 (상위 10개)]
         feature  normal_mean  anomaly_mean  difference_percent
14    PLSANIT_AM         3.01         16.67              453.69
10     TRVLEC_AM         9.90         50.42              409.37
15   CLOTHGDS_AM         2.24         11.32              406.07
7    INTERIOR_AM         1.11          4.87              337.14
16       AUTO_AM        15.87         68.65              332.48
22    UES_INCOME         0.02          0.08              279.36
4     TOT_USE_AM       319.88       1170.29              265.85
5   CRDSL_USE_AM       235.39        851.05              261.55
11       FSBZ_AM        51.30        160.48              212.85
8     INSUHOS_AM        31.97         99.41              210.94

[특성 차이 (하위 10개)]
           feature  normal_mean  anomaly_mean  difference_percent
1           SEX_CD         1.73          1.60               -7.21
2           MBR_RK        24.12         23.23               -3.71
23       CRDSL_DEP         0.70          0.68               -3.30
20          INCOME     15033.32      14542.39               -3.27
19            DEBT     33362.21      32759.63               -1.81
18          ASSETS     15787.96      15615.83               -1.09
26      DEBT_RATIO         2.22          2.22               -0.26
3           ATT_YM    201260.03     201031.59               -0.11
21     BAS_YH_year      2022.49       2022.53                0.00
17  BAS_YH_numeric     20227.44      20227.84                0.00

4. 이상치 그룹 특성 상세 분석

PLSANIT_AM 분포:
정상 그룹 - 25/50/75 백분위수: [0.00 0.00 0.00]
이상치 그룹 - 25/50/75 백분위수: [0.00 0.00 30.00]

TRVLEC_AM 분포:
정상 그룹 - 25/50/75 백분위수: [0.00 0.00 10.00]
이상치 그룹 - 25/50/75 백분위수: [0.00 20.00 80.00]

CLOTHGDS_AM 분포:
정상 그룹 - 25/50/75 백분위수: [0.00 0.00 0.00]
이상치 그룹 - 25/50/75 백분위수: [0.00 0.00 10.00]

INTERIOR_AM 분포:
정상 그룹 - 25/50/75 백분위수: [0.00 0.00 0.00]
이상치 그룹 - 25/50/75 백분위수: [0.00 0.00 0.00]

AUTO_AM 분포:
정상 그룹 - 25/50/75 백분위수: [0.00 0.00 10.00]
이상치 그룹 - 25/50/75 백분위수: [0.00 20.00 100.00]